<hr><h1>Tasker For You</h1><hr>

<p>
  <div class="justify">
    <img class="img-responsive img-border img-left" src="assets/book.jpg" alt=""width="300">
    <hr class="visible-xs">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere, metus et tempus iaculis, turpis nisl euismod lectus, sed pharetra neque diam sit amet justo. Fusce lacinia, neque eu ultrices cursus, lorem nulla faucibus metus, in rhoncus justo dui quis sem. Aenean hendrerit ut enim ac aliquam. Etiam maximus gravida nibh, in pellentesque sem semper quis. Duis mattis rhoncus enim sit amet porta. Nullam consequat ut diam non consectetur. Phasellus semper elit nec lectus accumsan, in fringilla risus auctor. Suspendisse eu maximus ipsum. Nam tincidunt gravida nunc, et volutpat libero lacinia et. Morbi non tempus sapien, et sodales magna. Donec gravida malesuada ipsum, id lacinia magna imperdiet ut. Sed venenatis bibendum elit id tincidunt. In hac habitasse platea dictumst. Vestibulum convallis urna eu quam rhoncus, at convallis quam vulputate. Mauris id purus at dolor consequat viverra. Praesent arcu risus, posuere eget ultricies a, porta vel lacus.

Mauris et vestibulum enim. Sed tincidunt magna condimentum, egestas est sit amet, viverra nibh. Sed ultrices sapien urna, gravida hendrerit dolor scelerisque vitae. Integer ut blandit odio, in imperdiet libero. Nulla facilisi. Sed mattis lectus et nulla consectetur, ut interdum nibh tristique. Nulla suscipit, eros eu laoreet faucibus, est dolor vulputate mi, quis congue odio sapien nec leo. Aenean ac est ac est commodo aliquet. Donec faucibus gravida malesuada. Nulla porta felis a eros varius tempor.

Vestibulum eu lectus quis ligula malesuada suscipit posuere ac lectus. Donec a congue metus. Vestibulum sagittis convallis mi id iaculis. Fusce sed nisl nec dui pulvinar posuere sit amet maximus turpis. Duis varius interdum sapien. Integer sagittis gravida porta. Pellentesque semper consectetur nisi, ac congue nisl venenatis ac. Ut at pharetra nisl, in dignissim massa. Phasellus tristique interdum ligula, ac gravida dolor placerat a. Duis malesuada eu sapien et bibendum. Praesent convallis mi quis pretium aliquam.

Nunc eget fermentum nunc, ut viverra nulla. Maecenas imperdiet ornare consectetur. Donec nisi velit, ultricies ut dictum eget, aliquet quis dolor. Pellentesque metus elit, malesuada quis massa in, faucibus condimentum purus. Nulla in eros tortor. Curabitur at facilisis purus. Maecenas tincidunt varius interdum. Aliquam vitae sapien gravida, consectetur quam non, aliquet orci. Mauris interdum, ipsum sed posuere elementum, sapien mi volutpat felis, a mattis tellus nisi vitae quam. Nunc egestas sed lectus ac convallis.
  </div>
</p>
